html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul { /* Fixes the mysterious +3 that Row components have */
  margin-bottom: -3px;
}

.App {
  text-align: center;
}

header {
  padding: 1rem;
}
