html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: all;
  cursor: pointer;
  margin-bottom: 1rem;
}

.App-logo:hover {
  filter: invert(0.2) sepia(1) saturate(10) hue-rotate(300deg) brightness(0.75);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  padding: 1rem;
}
